body {
	background: #007AA3;
	margin: 0px;
}

#canvas {
    border: transparent;
    border-radius: 6px;
}

p {
	font-size: 20px;
	font-family: sans-serif;
	color: white;
}

#work {
	font-size: 96px;
	font-family: sans-serif;
	color: white;
	background: green;
	border: none;
	padding: 5px;
	border-radius: 24px;
	-webkit-transition: font-size .5s;
	transition: font-size .5s;
	-moz-transition: font-size .5s;
}

#work:hover {
	font-size: 128px;
}

#reset {
	font-size: 24px;
	font-family: sans-serif;
	color: white;
	background: red;
	border: none;
	padding: 5px;
	border-radius: 10px;
	-webkit-transition: font-size .5s;
	transition: font-size .5s;
	-moz-transition: font-size .5s;
}

#reset:hover {
	font-size: 32px;
}

#container {
	width: 800px;
	height: 100vh;
	line-height: 100vh;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto 
}

#content {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;  
}
